{%load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Banned Users</title>
    <link rel="stylesheet" href="{%static 'css/blocked_users_page.css'%}" />
  </head>
  <body>
    <h1>Banned Users</h1>
    <div id="users-list"></div>

    {% comment %}
    <script src="{%static 'js/blocked_users_page.js'%}"></script>
    {% endcomment %}
    <script src="{%static 'js/blocked_users_page.js'%}"></script>
  </body>
</html>
